@font-face {
	font-family:LED;
	src: url('../fonts/digital-7.ttf');
}

@mixin stop-button {background:red; font-size:2em; color:white;}
@mixin start-button {background:green; font-size:2em; color:white;}

@mixin clock {
	margin:auto;
	background:white;
	border-radius:10px;
	padding:0 10% 0 10%;
	margin-bottom:3%;
	font-family:LED, sans-serif;
	color:black;
}

.alert-success {font-size:1.8em; margin-bottom:0;}
.alert-info {font-size:1.8em; margin-bottom:0; margin-top:3%;}

.jumbotron#acetask {text-align:center; background:0; padding:0;}

h1, h2 {text-align:center; color:black;}
h1.break-message {color:black;}
#timer { @include clock; }
#breakTimer { @include clock;  }
#breakTimerInfo {display:none;}
input#mce-EMAIL {width: 50%; margin: 2% 0 4% 0; }
h1.title {margin:auto; text-align:center;}
.startingBlock {margin:auto; text-align:center;}
.navbar-brand img {max-width:100px; margin-top:-10%;}
p {text-align:center;}
div.row {text-align:center;}
div#newsletter {background-color:#1E3855; color:white; padding-left:10%; padding-right:10%;}
div#acetask { color:black;}
div#main {background-color:#FFF; }
.lead {color:black;}
.lead img {margin-bottom:2%; max-width:60%;}
.lead a {color:#C43B3B;}

#todo-container { padding-top:6%; }

.alert {margin-top:4%;}

rebel {
  color: #ff6450;
}

.achieve {
  color: #9dc9a8;

}

.bt {
  width: 60px;
  border: none;
  cursor: pointer;
  outline: none;
}

.bt.bt-rebel {
  background: #ff6450;
  color: #fff;
}

.bt.bt-achieve {
  background: #6091DB;
  color: #fff;
}

.txt {
  background: transparent;
  width: 100%;
  outline: none;
  padding: 10px;
  margin: 4px 0;
  border: 1px solid #808080;
  width: 90%;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  background:#fff;
  padding:100px;
  border-radius:10px;
}

.add-todo .txt {
  padding: 10px;
}

.todo-list, .add-todo {
  list-style-type: none;
  text-align: left;
}


.todo-list li {
  padding: 2%;
  margin: 4px 0;
  border: 1px solid #2F7AFF;
  width: 100%;
  position: relative;
  min-height: 100%;
  cursor: pointer;
  font-size:1.4em;
}

.todo-list li .bt {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.todo-list li .bt:hover {
  width: 80px;
}

@media all and (max-device-width: 480px) {
    img.acetask {
        max-width:60%;
        max-height:60%;
    }

    .todo-list li { font-size:1.0em; }

	input#mce-EMAIL {width: 90%; margin: 2% 0 4% 0; }

	.alert-success {font-size:1.0em; margin-bottom:0;}
    .alert-info {font-size:1.0em; margin-bottom:0; margin-top:3%;}

    div#newsletter {font-size:1.0em;}
}