<div class="jumbotron" id="newsletter">
    <h1 class="sample">Free Book Sample!</h1>
    <hr>
    <p class="p-resp" style="text-align: center;">Sign up for the <b><a href="http://www.52aces.com">52 Aces</a></b> newsletter and get a <b>free</b> section from <em><b><a href="http://www.52aces.com/books/">The Learning Factory</a></b></em> about popular learning techniques that might be holding you back.</p>
    <div id="mc_embed_signup" style="text-align: center;">
        <form id="mc-embedded-subscribe-form" class="validate" action="//realdealace.us6.list-manage.com/subscribe/post?u=f472860f79a8e8c6e30ca75ba&amp;id=915f34b4af" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
            <input id="mce-EMAIL" class="email" name="EMAIL" required="" type="email" value="" placeholder="E-mail address" />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
                <input tabindex="-1" name="b_f472860f79a8e8c6e30ca75ba_915f34b4af" type="text" value="" />
            </div>
            <div class="clear">
                <input id="mc-embedded-subscribe" class="btn btn-lg btn-danger" name="subscribe" type="submit" value="Subscribe" />
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
    </p>
</div>
</div>
